
.menu-ul{
    list-style-type: none;
    // margin: 0;    
    // margin: -37px;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;

    

    li {
        a {
        display: block;
        color: #000;
        padding: 8px 16px;
        text-decoration: none;

        &.active {
            background-color: #000;
            color: white;
        }

        &:hover:not(.active) {
            background-color: #555;
            color: white;
        }
        }
    }
}


